@charset "utf-8";
@import url(../css/reset.css);

body{
  background-color: var(--lightGray); 
}

.container{
  padding: 15px;
  background-color: var(--white);
  border-radius: 20px;
  width: 90%;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

h1{
  font-size: 1.5rem;
  color: var(--darkBlue);
  padding: 10px 0;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  margin: auto;
}

p{
  color: var(--grayishBlue);
  font-size: 1rem;
  text-align: center;
  padding: 10px 0px 20px;
  font-weight: lighter;
  line-height: 1.2rem;
}

.box img{
  border-radius: 10px;
  width: 100%;
}

@media (min-width:375px){
  h1{
    width: 90%;
  }

  p{
  width: 90%;
  margin: auto;
  }
 
}

@media (min-width:425px){
  h1{
    width: 80%;  
  }
  
  p{
    width: 80%;
  } 

}

@media (min-width:768px){
  h1{
    font-size: 1.3rem;
  }
  .container{
    width: 45%;
  }
}

@media (min-width:1024px){
  h1{
    font-size: 1.7rem;
    width: 100%;
  }
  p{
    width: 100%;
    font-size: 1.2rem;
  }
  .container{
    width: 35%;
  } 
}

@media (min-width:1440px){
  .container{
    width: 25%;
  }
}

